<template name="form_alunos">

  <div class="tab-wrapper tab-primary tabs-form">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#alunotab1" data-toggle="tab" aria-expanded="true">
          Dados Pessoais
        </a>
      </li>
      <li class="">
        <a href="#alunotab2" data-toggle="tab" aria-expanded="false">
          Questionario
        </a>
      </li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane active" id="alunotab1">
        <div class="row">
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-3">
                {{> afQuickField name='codigo'}}
              </div>
              <div class="col-sm-9">
                {{> afQuickField name='nome' }}
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                {{> afQuickField name='dtNasc'}}
              </div>
              <div class="col-sm-3">
                {{> afQuickField name='sexo'}}
              </div>
              <div class="col-sm-3">
                {{> afQuickField name='ativo'}}
              </div>
              <div class="col-sm-3">
                {{> afQuickField name='contato.telefone'}}
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                {{> afQuickField name='contato.celular'}}
              </div>
              <div class="col-sm-8">
                {{> afQuickField name='contato.email'}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            {{> afQuickField name='endereco.cidade'}}
          </div>
          <div class="col-sm-1">
            {{> afQuickField name='endereco.uf'}}
          </div>
          <div class="col-sm-2">
            {{> afQuickField name='endereco.cep'}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            {{> afQuickField name='endereco.rua'}}
          </div>
          <div class="col-sm-2">
            {{> afQuickField name='endereco.numero'}}
          </div>
          <div class="col-sm-3">
            {{> afQuickField name='endereco.bairro'}}
          </div>
        </div>
      </div>

      <div class="tab-pane" id="alunotab2">
        <div class="row">
          <div class="col-sm-3">
            {{> afQuickField name='questionario.possuiPlanoSaude'}}
          </div>
          {{#if possuiPS}}
            <div class="col-sm-9">
              {{> afQuickField name='questionario.planoSaude'}}
            </div>
          {{/if}}
        </div>

        <div class="row">
          <div class="col-sm-3">
            {{> afQuickField name='questionario.praticaEsporte'}}
          </div>
          {{#if praticaEsporte}}
            <div class="col-sm-9">
              {{> afQuickField name='questionario.esportePraticado'}}
            </div>
          {{/if}}
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{> select2Field isAfField=true name='questionario.porqueFazAcademia' options=pqFazOptions}}
          </div>
        </div>
        {{#if fazPorOutroMotivo}}
          <div class="row">
            <div class="col-sm-12">
              {{> afQuickField name='questionario.porqueOutro'}}
            </div>
          </div>
        {{/if}}

        <!--INDICAÇÃO-->
        <div class="row">
          <div class="col-sm-12">
            {{> select2Field isAfField=true name='questionario.indicacao.comoSoube' options=comoSoubeOptions}}
          </div>
        </div>
        {{#if soubePorAluno}}
          <div class="row">
            <div class="col-sm-12">
              {{> afQuickField name='questionario.indicacao.alunoIndicante'}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

</template>