<template name="form_alunos">

  <div class="tab-wrapper tab-primary tabs-form">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#alunotab1" data-toggle="tab" aria-expanded="true">
          Geral
        </a>
      </li>
      <li class="">
        <a href="#alunotab2" data-toggle="tab" aria-expanded="false">
          Questionario
        </a>
      </li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane active" id="alunotab1">
        <div class="row">
          <div class="col-sm-2">
            {{> afQuickField name='codigo'}}
          </div>
          <div class="col-sm-10">
            {{> afQuickField name='nome' }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            {{> afQuickField name='dtNasc'}}
          </div>
          <div class="col-sm-6">
            {{> afQuickField name='sexo'}}
          </div>
        </div>

        <i class="fa fa-angle-double-right" style="margin-bottom: 15px;"></i> Contato
        <div class="row">
          <div class="col-sm-4">
            {{> afQuickField name='contato.telefone'}}
          </div>
          <div class="col-sm-4">
            {{> afQuickField name='contato.celular'}}
          </div>
          <div class="col-sm-4">
            {{> afQuickField name='contato.email'}}
          </div>
        </div>

        <i class="fa fa-angle-double-right" style="margin-bottom: 15px;"></i> Endereco
        <div class="row">
          <div class="col-sm-7">
            {{> afQuickField name='endereco.cidade'}}
          </div>
          <div class="col-sm-2">
            {{> afQuickField name='endereco.uf'}}
          </div>
          <div class="col-sm-3">
            {{> afQuickField name='endereco.cep'}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            {{> afQuickField name='endereco.rua'}}
          </div>
          <div class="col-sm-3">
            {{> afQuickField name='endereco.numero'}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{> afQuickField name='endereco.bairro'}}
          </div>
        </div>
      </div>

      <div class="tab-pane" id="alunotab2">
        <div class="row">
          <div class="col-sm-3">
            {{> afQuickField name='questionario.possuiPlanoSaude'}}
          </div>
          {{#if possuiPS}}
            <div class="col-sm-9">
              {{> afQuickField name='questionario.planoSaude'}}
            </div>
          {{/if}}
        </div>

        <div class="row">
          <div class="col-sm-3">
            {{> afQuickField name='questionario.praticaEsporte'}}
          </div>
          {{#if praticaEsporte}}
            <div class="col-sm-9">
              {{> afQuickField name='questionario.esportePraticado'}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

</template>