<template name="form_alunos">
  <div class="row">
    <div class="col-sm-2">
      {{> afQuickField name='codigo'}}
    </div>
    <div class="col-sm-10">
      {{> afQuickField name='nome' }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      {{> afQuickField name='dtNasc'}}
    </div>
    <div class="col-sm-6">
      {{> afQuickField name='sexo'}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      {{> afQuickField name='contato'}}
    </div>
  </div>

</template>