<template name="form_produtos">
  <div class="row">
    <div class="col-sm-3">
      {{> afQuickField name='codigo'}}
    </div>
    <div class="col-sm-9">
      {{> afQuickField name='nome'}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{> afQuickField name='descricao' }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      {{> afQuickField name='tipo' }}
    </div>
    <div class="col-sm-6">
      {{> afQuickField name='preco' }}
    </div>
  </div>
</template>