body {
  padding: 10px;
  font-family: sans-serif;
}

.nav li {
  cursor: pointer;
}

.tab-pane{
  margin-top: 10px;
}

.nav-tabs a {
  text-decoration: none;
  color: black;
}
.tabela-bordered tr{
  border: 1px solid #ccc;
}

.tabela-bordered tr td{
  border: 1px solid #ccc;
  padding: 2px;
  text-align: center;
}

.tabela-bordered tr th{
  border: 1px solid #ccc;
  padding: 2px;
  text-align: center;
}