<template name="form_profissionais">
  <div class="row">
    <div class="col-sm-3">
      {{> afQuickField name='codigo'}}
    </div>
    <div class="col-sm-9">
      {{> afQuickField name='nome' }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      {{> afQuickField name='sexo'}}
    </div>
    <div class="col-sm-6">
      {{> afQuickField name='ativo'}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      {{> afQuickField name='contato.celular'}}
    </div>
    <div class="col-sm-8">
      {{> afQuickField name='contato.email'}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      {{> afQuickField name='areaAtuacao'}}
    </div>
  </div>
</template>